<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PhishNinja</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/51634d39bc.js"
			crossorigin="anonymous"
		></script>
		<script>
			tailwind.config = {
				theme: {
					extend: {
						fontFamily: {
							inter: "Inter",
						},
					},
				},
			};
		</script>
		<link
			href="{{url_for('static', filename='style.css')}}"
			rel="stylesheet"
		/>
	</head>

	<body class="font-inter text-white bg-[#242424]">
		<nav
			class="w-full px-5 py-4 flex justify-between fixed z-50 items-center bg-black/60 backdrop-blur-md"
		>
			<div>
				<img
					class="w-10"
					src="{{url_for('static', filename='presidency_logo.png')}}"
				/>
			</div>
			<div class="flex">
				<ul class="flex">
					<li
						class="mx-4 hover:text-[#2ECA8B] transition ease-in delay-75"
					>
						<a href="#about">About</a>
					</li>
					<li
						class="mx-4 hover:text-[#2ECA8B] transition ease-in delay-75"
					>
						<a href="#team">Team</a>
					</li>
					<li
						class="mx-4 hover:text-[#2ECA8B] transition ease-in delay-75"
					>
						<a href="#guide">Guide</a>
					</li>
					<!-- <li class="mx-4">
						<a href="">Contact</a>
					</li> -->
				</ul>
			</div>
			<div>
				<a
					href="https://github.com/Assassinumz/PhishNinja"
					target="_blank"
				>
					<div
						class="rounded-lg border border-white hover:bg-white hover:text-black px-4 py-1 flex items-center transition ease-in delay-75"
					>
						<p class="mr-2">Github</p>
						<i class="fa-brands fa-github"></i>
					</div>
				</a>
			</div>
		</nav>

		<div class="flex w-full items-center min-h-screen px-32 relative">
			<div class="flex flex-col w-1/2 relative z-10">
				<div class="flex flex-col">
					<h2 class="font-semibold text-6xl">Phishing</h2>
					<h2 class="font-semibold text-6xl">Detection</h2>
					<p class="w-[60%] mt-10">
						This is a website tools used to protect users to stop
						them from getting phished and going bankrupt
					</p>
				</div>
			</div>

			<div class="flex flex-col w-1/2 relative z-10">
				<div class="flex flex-col items-start">
					<div id="res" class="hidden flex-col items-start">
						<div class="flex items-center">
							<p class="text-xl truncate w-64">{{url}}</p>
							<p class="ml-2 safety"></p>
						</div>

						<div
							class="w-[400px] relative bg-white/20 rounded-2xl h-6 mt-2 relative flex justify-center items-center"
						>
							<p class="font-semibold relative z-20 percent">
								6%
							</p>
							<div
								class="absolute left-0 top-0 bottom-0 w-[60%] rounded-2xl bar"
							></div>
						</div>

						<div class="mt-2 flex">
							<a href="/">
								<button
									class="py-3 rounded-lg flex justify-center bg-[#FFFFB0] text-black font-medium mr-5 w-48"
								>
									Check another
								</button>
							</a>
							<a href="{{url}}" target="_blank">
								<button
									class="py-3 text-white rounded-lg flex justify-center text-black font-medium continue w-48"
								>
									Continue to site
								</button>
							</a>
						</div>
					</div>

					<div id="scanning" class="hidden flex-col items-start">
						<form
							action="/"
							method="POST"
							class="flex flex-col items-start"
						>
							<p class="font-medium text-2xl">Input URL Here:</p>
							<input
								class="bg-[#D9D9D9] px-2 py-2 rounded-lg w-[500px] mt-1 text-black"
								type="text"
								placeholder="https://"
								name="url"
								required
							/>
							<button
								class="mt-2 py-3 rounded-lg px-8 bg-[#FFFFB0] text-black font-medium"
							>
								Check Link
							</button>
						</form>
					</div>
				</div>
			</div>

			<img
				class="absolute right-0 top-0 w-[60%]"
				src="{{url_for('static', filename='bg.svg')}}"
			/>
		</div>

		<div id="about" class="flex w-full pt-32 px-32 h-[600px]">
			<div class="w-1/2 flex flex-col">
				<h2 class="text-6xl font-semibold">About Us</h2>
				<p class="mt-5">
					We are students from Presidency University we are
					enthusiastic about cyber security and help the society from
					hacker and threat actors.
				</p>
			</div>
			<div></div>
		</div>

		<div id="team" class="flex flex-col items-center w-full pt-32 px-32">
			<div class="flex flex-col items-center">
				<h1 class="font-semibold text-6xl">The Team</h1>
				<p class="mt-5">
					We are students from Presidency University we are
					enthusiastic about cyber security and help the society from
					hacker and threat actors.
				</p>
			</div>

			<div class="flex flex-wrap mt-10">
				<div
					class="rounded-xl p-5 bg-gradient-to-b from-[#FFFFB0] from-5% to-[#28B783] mr-5 mb-5 w-[200px]"
				>
					<div class="flex flex-col mt-16">
						<h2 class="font-medium text-2xl">Umraz Khan</h2>
						<p>20201CCS0131</p>
						<p>Btech CCS</p>
					</div>
				</div>
				<div
					class="rounded-xl p-5 bg-gradient-to-b from-[#FFFFB0] from-5% to-[#28B783] mr-5 mb-5 w-[200px]"
				>
					<div class="flex flex-col mt-16">
						<h2 class="font-medium text-2xl">Samrudh D Yash</h2>
						<p>20201CCS0070</p>
						<p>Btech CCS</p>
					</div>
				</div>
				<div
					class="rounded-xl p-5 bg-gradient-to-b from-[#FFFFB0] from-5% to-[#28B783] mr-5 mb-5 w-[200px]"
				>
					<div class="flex flex-col mt-16">
						<h2 class="font-medium text-2xl">Lenin E</h2>
						<p>20201CCS0132</p>
						<p>Btech CCS</p>
					</div>
				</div>
				<div
					class="rounded-xl p-5 bg-gradient-to-b from-[#FFFFB0] from-5% to-[#28B783] mr-5 mb-5 w-[200px]"
				>
					<div class="flex flex-col mt-16">
						<h2 class="font-medium text-2xl">Jonathan R</h2>
						<p>20201CCCS0063</p>
						<p>Btech CCS</p>
					</div>
				</div>
				<div
					class="rounded-xl p-5 bg-gradient-to-b from-[#FFFFB0] from-5% to-[#28B783] mr-5 mb-5 w-[200px]"
				>
					<div class="flex flex-col mt-16">
						<h2 class="font-medium text-2xl">K Rehan</h2>
						<p>20201CCS0046</p>
						<p>Btech CCS</p>
					</div>
				</div>
			</div>
		</div>

		<div id="guide" class="w-full flex flex-col items-center pt-32 px-32">
			<div class="flex flex-col items-center">
				<h1 class="font-semibold text-6xl">Guide</h1>
				<p class="mt-5">
					Without the help of our guide this project would not have
					been possible. We are greatful for having them on our side
					through out the development of the project.
				</p>
			</div>
		</div>
		<script
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"
		></script>

		<script>
			let x = "{{results}}";
			let scanning = $("#scanning");
			let res = $("#res");

			if (x !== "-1") {
				let num = x * 100;
				scanning.css("display", "hidden");
				res.css("display", "flex");
				// if (0 <= x && x < 0.5) {
				// 	num = 100 - num;
				// }
				let txtx = num.toString();

				var safety = $(".safety");
				var percent = $(".percent");
				var _continue = $(".continue");
				var bar = $(".bar");

				if (x >= 0.8) {
					safety.html(`Website is safe to use`);
					percent.html(`${txtx}%`);

					_continue.css(`background-color`, "#00A3FF");
					bar.css("width", `${num}%`);
					bar.css("background-color", "#05FF00");
				} else if (0.3 <= x && x < 0.8) {
					safety.html(`Use at your own risk`);
					percent.html(`${txtx}%`);

					_continue.css(`background-color`, "#FFD600");
					bar.css("width", `${num}%`);
					bar.css("background-color", "#FFD600");
				} else {
					safety.html(`Website is unsafe to use`);
					percent.html(`${txtx}%`);

					_continue.css(`background-color`, "#FF3E3E");
					bar.css("width", `${num}%`);
					bar.css("background-color", "#FF3E3E");
				}
			} else {
				scanning.css("display", "flex");
				res.css("display", "hidden");
			}
		</script>
	</body>
</html>
